Makefile
build/billiards-config-api/
build/billiards-layouts-api/
build/billiards-projection-api/
build/billiards-shots-api/
build/billiards-graphics-api/
build/qt-projection/
build/native/
prefix/app/
prefix/native/
scripts/node-app/node_modules/
scripts/node-app/package-lock.json
old
yocto/output/
yocto/sources/
yocto/build/bitbake-cookerdaemon.log
yocto/build/cache/
yocto/build/conf/templateconf.cfg
yocto/build/bitbake.lock
