Makefile
build/billiards-config-api/
build/billiards-layouts-api/
build/billiards-projection-api/
build/billiards-shots-api/
build/billiards-graphics-api/
build/qt-projection/
build/native/
prefix/app/
prefix/native/
prefix/libs/
scripts/node-app/node_modules/
scripts/node-app/package-lock.json
old
yocto/output/
yocto/sources/
yocto/build/bitbake-cookerdaemon.log
yocto/build/cache/
yocto/build/conf/templateconf.cfg
yocto/build/bitbake.lock
ide/cmake-build-debug/
ide/cmake-build-debug-coverage/
ide/.idea/
ide/billiards-attempts-api
ide/billiards-common
ide/billiards-config-api
ide/billiards-graphics-api
ide/billiards-layouts-api
ide/billiards-projection-api
ide/billiards-shots-api
**/a.out
**/*.aux
sage/exp.log
sage/exp.pdf
sage/scripts/output.c
**/*.kate-swp
scripts/node-app/inputs/
testing/
3rd_party/


yocto/tmp/
mapping.json

